* {
    padding: 0;
    margin: 0;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1f90a7;
}

.header {
    background-color: #023e8a;
    color: aliceblue;
    outline: none;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3vmin;
    width: 100vw;
}

.choices {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 70vmin;
    height: 70vmin;
}

.choice {
    height: 20vmin;
    width: 20vmin;
    border: none;
    margin: 0.5vmin;
    border-radius: 2vmin;
    background-color: #48cae4;
    transition: 0.3s;
    font-size: 15vmin;
    font-family: 'Arial Bold', sans-serif;
}

.choice:hover {
    background-color: #1d7f92;
}

.footer {
    height: 15vh;
    background-color: #023e8a;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resetGame {
    background-color: #0096c7;
    outline: none;
    border: none;
    padding: 2vmin;
    border-radius: 2vmin;
    color: white;
    font-size: 2vmin;
    outline: none;
    transition: 0.3s;
}

.resetGame:hover {
    transform: scale(1.1);
}

.msg-container {
    color: #ffffc7;
    font-size: 5vmin;
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    height: 100vh;
}

.hide {
    display: none;
}

h3 {
    font-size: 20vmin;
    color: #fff;
}

.newGame {
    background-color: #0096c7;
    outline: none;
    border: none;
    padding: 2vmin;
    border-radius: 2vmin;
    color: white;
    font-size: 2vmin;
    transition: 0.3s;
    height: 10vmin;
    width: 30vmin;
    font-size: 5vmin;
    font-family: 'Times New Roman', Times, serif;
}

.newGame:hover {
    transform: scale(1.1);
}